<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">

        {{ partial "nav.html" . }}

        {{ partial "hero.html" . }}
        {{ partial "despre-noi.html" . }}
        {{ partial "avantaje.html" . }}
        {{ partial "servicii.html" . }}
        {{ partial "aside.html" . }}
        {{ partial "contact.html" . }}

        {{ partial "modals.html" . }}
        {{ partial "js.html" . }}

    </body>

   <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110226808-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110226808-1');
</script>

</html>
